@mixin reset-button() {
    user-select: none;
    border: 0;
    outline: 0;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    padding: 0;
    opacity: 1;
    border-radius: 0;
    text-transform: none;
    min-width: auto;
    max-width: none;
    transform: none;
    box-sizing: border-box;
}
