.feature-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
  gap: var(--space-xs);

  &:last-child {
    margin-bottom: 0;
  }

  &__icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
  }

  &__description {
    color: var(--primary-dark-blue);
  }
}
