.dashboard {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 56px);
    width: 100%;
    padding-bottom: 80px;
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__progress-wrapper {
    margin-bottom: var(--space-m);
  }

  &__title {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.417021px;
    text-align: center;
    display: flex;
    flex-direction: column;

    &--highlighted {
      color: var(--primary-blue);
    }
  }

  &__subtitle {
    margin-top: var(--space-xs);
    opacity: 0.7;
  }
}