.header {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  transform: translateY(-200px);
  transition: all .3s linear;
  min-height: 56px;
  padding-top: 0;
  justify-content: center;

  &.show {
    transform: translateY(0);
  }

  &__logo {
    height: 24px;
    width: 90px;
  }
}