.scroll-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  cursor: pointer;
  background-color: var(--primary-blue) !important;
  color: var(--white) !important;
  width: 272px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;

  &.loading {
    cursor: initial;
    background-color: var(--primary-green) !important;

    &:hover {
      background-color: var(--secondary-dark-green) !important;
    }
  }

  &__loading-img {
    display: block;
    height: 100%;
    transform: translateY(-5px);
  }

  &:hover {
    background-color: var(--secondary-light-blue) !important;
  }
}