.radio-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  padding: 20px 16px;
  background: #ECF3FE;
  border-radius: var(--space-s);
  border: 1px solid #ECF3FE;
  transition: all 0.3s linear;
  outline: none;
  height: 60px;

  &.centered-button {
    justify-content: center;
  }

  @media (hover: hover) {
    &:hover {
      border: 1px solid var(--primary-dark-blue);
    }
  }

  &--checked {
    border: 1px solid var(--primary-dark-blue);
    background: var(--primary-dark-blue);
    transform: scale(1.04);

    .radio-button__text {
      color: var(--white);
    }
  }

  &__input {
    position: relative;
    display: none;
    appearance: none;

    :focus-visible {
      outline: none;
    }

    &.centered-button {
      display: none;

      &:after {
        content: none;
      }
    }
  }

  &__text {
    transform: translateY(-1px);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
  }
}
