.feature {
  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: center;

    &.light-purple {
      background-color: #EFF1FF;
    }

    &.light-blue {
      background-color: #E6F2FE;
    }

    &.light-pink {
      background-color: #F6EDFA;
    }

    &.light-green {
      background-color: #EAF5E4;
    }

    &:before {
      position: absolute;
      content: '';
      height: 56px;
      width: 100%;
      z-index: 0;
      top: 0;
      background-color: inherit;
    }
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 325px;
    flex-shrink: 0;
  }

  &__info-item {

  }

  &__img {
    width: 272px;
    height: 325px;

    &-wrapper {
      display: flex;
    }
  }
}